/**
 Input fields
*/

.label-group {
  display: flex;
  flex-direction: column;
}

.input-field {
  margin-top: 10px;
  padding: 10px;
  outline: 0px;
  border: 1px solid black;
  border-radius: 5px;
}

.input-field:focus {
  border: 1px solid #3D9BFF;
  outline: 0px;
}

/** 
 Job cards
*/

.job {
  padding: 10px;
  border: 2px solid #3D9BFF;
  margin: 10px 0;
}

.job-title {
  font-size: 18px;
  font-weight: bold;
}

.job-text {
  font-size: 14px;
}
