.grid {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.row {
  display: flex;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.column-justify-flex-end {
  justify-content: flex-end;
}

.full-height {
  height: 100%;
}

/** 
  Overflow for boxes
*/

.box-overflow {
  padding: 30px 0px; 
  overflow-y: auto;
  overflow-x: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

/**
 Section
*/

.section {
  width: 100%;
}

.header {
  flex: 1 0 auto;
  background-color: #3D9BFF;
  padding: 10px 15px;
}

.navigation-bar {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: 60px;
  padding: 10px 10px;
  background-color: #223048;
}

.navigator-bar-button {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #C4C4C4;
  margin: 10px 0px;
}

.navigator-bar-button:first-child {
  margin-top: 0;
}

.navigator-bar-button:last-child {
  margin-bottom: 0;
}

.left-column {
  flex: 1 0 20%;
  background-color: #E4EEF1;
  padding: 0px 15px;
}

.right-column {
  flex: 1 0 80%;
  padding: 0px 15px;
}

.content-card {
  height: 150px;
  width: 100%;
  margin: 15px 0px;
  padding: 15px;
  background-color: #E4EEF1;
}

.content-card:first-child {
  margin-top: 0px;
}

/**
 Headings
*/

h4 {
  color: white;
}

/**
 Job cards
*/

.job-card {
  padding: 15px;
  margin: 15px 0px;
  background-color: white;
  height: 110px;
}

.job-card:first-child {
  margin-top: 0px;
}


.job-card-header {
  font-size: 16px;
  font-weight: bold;
  color: #223048;
  margin: 0;
}

.job-card-header > span {
  font-size: 14px;
  padding-left: 5px;
  font-weight: normal;
  color: #8D8383;
}

.job-card-header-tagline {
  font-size: 12px;
  font-weight: normal;
  color: #8D8383;
  margin: 0px;
}

.job-card-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
}

.job-card-column-main-date {
  font-size: 12px;
  color: #8D8383;
  margin: 0;
}

.job-card-column-secondary-date {
  font-size: 12px;
  color: #8D8383;
  margin: 0;
  font-weight: bold;
}

.job-card-resource-column {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-end;
}

.job-card-resource-number {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-weight: bold;
  display: flex;
  color: #3D9BFF;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #3D9BFF;
}

/** 
  Reset section group and panel, and app__content-blank
*/

.section__group, .section__panel {
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
}

.app__content-blank {
  height: calc(100vh - 125.875px);  /* Override other styles*/
}

/** 
 Media queries
*/

@media (max-width: 768px) {
  .left-column {
    flex: 1 0 40%;
  }
  
  .right-column {
    flex: 1 0 50%;
  }
}

@media (max-width: 1024px) {
  .left-column {
    flex: 1 0 30%;
  }
  
  .right-column {
    flex: 1 0 70%;
  }
}